@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
.wrapper {
  margin: 0 auto;
  width: 80%;
  font-family: "Quicksand", sans-serif;
}
.wrapper h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.wrapper .category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px dashed rgb(108, 108, 108);
}
.wrapper .category .includes {
  text-align: center;
  padding: 30px 5% 20px;
  margin: 0 10% 10% 1%;
  background-color: rgb(220, 218, 218);
  border-radius: 5px;
}
.wrapper .category .includes img {
  width: 30%;
  padding-bottom: 10px;
}
.wrapper .category .includes p {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 5%;
}
.wrapper .category .includes p .bold {
  font-weight: 600;
}
.wrapper .cosmetics {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
